# Node/Next
node_modules
.next
out
dist
coverage
*.log
*.lockb
*.cache

# System
.DS_Store
Thumbs.db

# Env & local
.env
.env.*
!.env.example

# Tools
.vercel
.turbo
.vscode
.idea
tmp/

# GitHub Pages build output
docs/*
!docs/.gitkeep
